[submodule "scantobim"]
	path = scantobim
	url = https://github.com/THUCBIMS/scantobim.thucbims.github.io.git
[submodule "bimnet"]
	path = bimnet
	url = https://github.com/THUCBIMS/bimnet.thucbims.github.io.git
[submodule "portal"]
	path = portal
	url = https://github.com/THUCBIMS/portal.thucbims.github.io
